.expert-team-section {
    text-align: center;
  }
  
  .section-heading {
    color: rgb(225, 30, 36); /* Red color */
    margin-bottom: 20px;
    font-size: 1.8rem; /* Increase font size for the main heading */
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .team-member {
    margin: 20px;
    text-align: center;
  }
  
  .team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff; /* Add a border around the image */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .team-member h3 {
    margin-top: 15px;
    font-size: 1.4rem;
  }
  
  .team-member p {
    margin-top: 10px;
    font-size: 1rem;
    color: #555; /* Darken text color */
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .team-member img {
      width: 150px;
      height: 150px;
    }
    
    .team-member h3 {
      font-size: 1.2rem;
    }
    
    .team-member p {
      font-size: 0.9rem;
    }
  }
  